# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore Django migrations
**/migrations/

# Ignore virtual environments
venv/
newenv/

# Ignore environment variables file
.env

# Ignore database files
*.sqlite3

# Ignore VS Code settings
.vscode/